---
# The GPII framework tests on Fedora require that Orca has been set up and the
# ~/.local/share/orca directory exists. The following tasks will:
#  * Check if the Orca user directory exists, if it does the remaining tasks will be skipped
#  * Start Orca as the user who will be using the framework and/or running tests
#  * Let Orca create its files in the user's home directory and test for their presence
#  * Stop Orca

- name: Check to see if the Orca user directory exists
  stat:
    path: "{{ gpii_framework_user_home_dir }}/.local/share/orca"
  register: gpii_framework_orca_dir_result

- name: Ensure systemd user related directory exists
  file:
    path: "{{ gpii_framework_user_home_dir }}/.config/systemd/user/"
    state: directory
    mode: 0755
    owner: "{{ gpii_framework_username }}"
    group: "{{ gpii_framework_groupname }}"
  when: gpii_framework_orca_dir_result.stat.exists == false
    
- name: Create Orca systemd user unit
  template:
    src: systemd_unit.j2
    dest: "{{ gpii_framework_user_home_dir }}/.config/systemd/user/orca.service"
    owner: "{{ gpii_framework_username }}"
    group: "{{ gpii_framework_groupname }}"
  when: gpii_framework_orca_dir_result.stat.exists == false
  
- name: Start Orca
  service:
    name: orca.service
    state: started
    args: --user
  become: yes
  become_user: "{{ gpii_framework_username }}"
  when: gpii_framework_orca_dir_result.stat.exists == false
  
- name: Verify Orca user directory exists
  wait_for: 
    path: "{{ gpii_framework_user_home_dir }}/.local/share/orca"
    timeout: 300
  when: gpii_framework_orca_dir_result.stat.exists == false
  
- name: Stop Orca
  service:
    name: orca.service
    state: stopped
    args: --user
  become: yes
  become_user: "{{ gpii_framework_username }}"
  when: gpii_framework_orca_dir_result.stat.exists == false
  
- name: Remove Orca systemd user unit
  file:
    path: "{{ gpii_framework_user_home_dir }}/.config/systemd/user/orca.service"
    state: absent
  when: gpii_framework_orca_dir_result.stat.exists == false

# gpii/universal gets installed to the parent node_modules directory relative to gpii/linux
# https://github.com/GPII/grunt-gpii/blob/master/tasks/gpii.js#L25
#
# If a npm path workaround is being used then node_modules/universal in the temporary build
# directory needs to be copied back to where the application is located.
# https://github.com/idi-ops/ansible-nodejs/blob/1b849100e68de4d22ef627a709734f67a7314cef/tasks/configure.yml#L23-L29
- name: Copy universal from the temporary build location to the app installation directory if a Vagrant npm path workaround is being used
  command: rsync -a "{{ nodejs_app_tmp_build_dir }}/../node_modules" "{{ nodejs_app_install_dir }}/../"
  when: (is_vagrant) and (nodejs_app_commands)

